<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{file.frontMatter.title}}</title>
  <link href="ui/styles.css" rel="stylesheet" />
  <script src="ui/js/script.js" type="text/javascript" defer></script>
</head>

<body class="home">

  {% include "source/templates/header.html" %}

	<div class="flex-parent">
		<div class="flex-child">
			<img src="../images/stranding.jpg" alt="Death Stranding" height="300" width="300">
		</div>
				
		<div class="flex-child">
			<img src="../images/last.jpg" alt="The Last of Us: Part 2" height="300" width="300">
		</div>
				
		<div class="flex-child">
			<img src="../images/cyber.jpg" alt="Cyberpunk 2077" height="300" width="300">
		</div>
				
		<div class="flex-child">
			<img src="../images/jedi.jpg" alt="Star Wars Jedi: Fallen Order" height="300" width="300">
		</div>
	</div>

  {% block main %}Default content{% endblock %}

  <footer>
    <address>
		Matt Dauphin &bull;
		Ice Hockey &bull;
		St.Clair College &bull;
		WEB501 JavaScript 4 &bull;
		Project 2
	</address>
  </footer>
</body>

</html>